*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    /* background-color: pink; */
   width: 100%;
   border: 2px solid black;
}
.headcontainer{
    max-width: 80%;
    margin: auto;
    border: 2px solid blue;
    /* background-color: blue; */
}
.headgrid{
    /* background-color: green; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#span{

}
.image{
    /* padding-right: 40px; */
}
.headleft img{
    width: 80px;
    padding-top: 6px;
}
.headleft{
    display: flex;
    gap: 40px;
    align-content: center;

}
.inpute{
    border-radius: 10px;
    align-content: center;
    border: 2px solid green;
}
.inputeinfo{
    display: flex;

    
}
.botton{
    border-radius: 10px;
    border: 2px solid pink;
    padding: 5px 20px;
   
}
.signup{
    border-radius: 10px;
    border: 2px solid pink;
    padding: 5px 20px;
}
.inpute select{
    /* padding: 5px; */
}











@media(max-width:2000px){
    #span{
        display: none;
    }
    .headcontainer{
    max-width: 95%;
    margin: none;
    border: 2px solid blue;
    /* background-color: blue; */
}
}

@media(max-width:999px){
    .headgrid{
        display: none;
    }
        #span{
            display: block;
        width: 20px;
    }
    .signup{
    border-radius: 10px;
    border: none;
    padding: 5px 20px;
}
    .inpute{
        display: none;
    }
}

